.advertising 
	img.decor-2(src="img/lines-2.png", alt="lines")
	img.advertising__pic(src="img/pic_02.png", alt="pic")
	img.advertising__img(src="img/pic_01.jpg", alt="pic")
	.advertising__info 
		img.advertising__logo(src="img/logo_header.png", alt="logo-header")
		p.advertising__text С нами ваш перелет будет таким, 
			br
			| каким нужно вам!
		b.advertising__warning Важно вам = важно нам