section.advantages.advantages-section 
	img.decor(src="img/lines.png", alt="lines")
	.container 
		.row 
			.col
				.advantages__box 
					.advantages__content
						ul.advantages__list
							li.advantages__item Организуем перелет в любую точку мира 
								br
								| Срочный вылет #[b от 3-х часов]
							li.advantages__item Персональный менеджер
								br
								| #[b на связи 24/7]
							li.advantages__item Доступ к бортам всего мира
							li.advantages__item #[b Подберем оптимальный вариант] 
								br
								| учитывая ваши потребности
						img.advantages__woman(src="img/pic_02-1.webp", alt="woman")
					.advantages__imgs
						img.advantages__img(src="img/figure_pic.webp", alt="figure_pic")
						.pic 
							.pic__title Ваш комфорт - #[b наша забота]
							img.pic__img(src="img/advantages_pic.png", alt="advantages_pic")
						a.advantages__pdf.pdf(href="")
							.pdf__text 
								p.pdf__download Скачать презентацию
								span.pdf__size PDF - 7.53 Mb
							img.pdf__icon(src="img/icon-pdf.png", alt="icon-pdf")
