section.advantages 
	.container 
		.row 
			.col
				.advantages__box 
					.advantages__content
						.logo-titles.advantages__titles
							img.logo-titles__img(src="img/icon_pic_plane.png", alt="icon_pic_plane")
							h2.logo-titles__text преимущества 
						ul.advantages__list
							li.advantages__item Организуем перелет в любую точку мира 
								br
								| Срочный вылет #[b от 3-х часов]
							li.advantages__item Персональный менеджер 
								br
								| #[b на связи 24/7]
							li.advantages__item Доступ к бортам всего мира
							li.advantages__item #[b Подберем оптимальный вариант] 
								br
								| учитывая ваши потребности
							li.advantages__item #[b Конфиденциально - ] гарантируем анонимность
							li.advantages__item #[b Собственные представители ] в аэропортах
								br
								| Москвы, Санкт-Петербурга, Сочи, Екатеринбурга, 
								br
								| Нижнего Новгорода и Геленджика
							li.advantages__item Мы не только #[b организуем Ваш полет на ]
								br
								| #[b высочайшем уровне ]. Мы заботимся о вас!
						img.advantages__plane(src="img/plane_pic.webp", alt="plane_pic")
					.advantages__imgs
						img.advantages__img(src="img/figure_pic.webp", alt="figure_pic")
						.pic 
							.pic__title Ваш комфорт - #[b наша забота]
							img.pic__img(src="img/advantages_pic.png", alt="advantages_pic")
						a.advantages__pdf.pdf(href="")
							.pdf__text 
								p.pdf__download Скачать презентацию
								span.pdf__size PDF - 7.53 Mb
							img.pdf__icon(src="img/icon-pdf.png", alt="icon-pdf")
