section.blog 
	.container 
		.row 
			.col 
				.logo-titles
					img.logo-titles__img(src="img/icon_pic_plane.png", alt="icon_pic_plane")
					h6.logo-titles__text Pro-flight Блог
				.blog__items
					+post('blog_01.png', '25.02.2022', 'ЗАГОЛОВОК СТАТЬИ БУДЕТ ЗДЕСЬ', 'Короткое описание о чем речь и почему это важно. Возможно несколько предложений для привлечения внимания.')
					+post('blog_02.png', '25.02.2022', 'ЗАГОЛОВОК СТАТЬИ БУДЕТ ЗДЕСЬ', 'Короткое описание о чем речь и почему это важно. Возможно несколько предложений для привлечения внимания.')
					+post('blog_03.png', '25.02.2022', 'ЗАГОЛОВОК СТАТЬИ БУДЕТ ЗДЕСЬ', 'Короткое описание о чем речь и почему это важно. Возможно несколько предложений для привлечения внимания.')
					+post('blog_04.png', '25.02.2022', 'ЗАГОЛОВОК СТАТЬИ БУДЕТ ЗДЕСЬ', 'Короткое описание о чем речь и почему это важно. Возможно несколько предложений для привлечения внимания.')
				button.button.blog__button читать все статьи