section.cause 
	.container 
		.row 
			.col 
				h5.cause__title Почему стоит выбрать компанию Pro-flight?
				.cause__box 
					.cause__col.tiles
						.tile
							.tile__text
								b.tile__text--big 20 лет +
								br
								| и более #[span.tile__text--gold опыт] отдельных наших сотрудников в бизнес авиации
						.tile
							.tile__text 
								b.tile__text--big 30 мин
								br
								| после приема заявки и вы будете иметь первое #[span.tile__text--gold предложение с расчетами.]
						.tile
							.tile__text 
								b.tile__text--big 95%
								br
								| наших клиентов #[span.tile__text--gold выбирают нас] снова.
						.tile
							.tile__text 
								| уже #[span.tile__text--gold через]
								br
								b.tile__text--big 3 часа
								br
								| возможен #[span.tile__text--gold вылет.] 
						.tile
							.tile__text
								b.tile__text--big 7000
								br
								| #[span.tile__text--gold воздушных судов в]
								br
								| нашем доступе
						.tile.tile--height
							.tile__text 
								| у нас есть
								br
								| #[span.tile__text--gold собственные представительства] 
								br
								b.tile__text--big в 6 городах РФ
								br
								| и представители в большинстве аэропортах РФ и за рубежом
					.cause__col
						.orients
							.orient 
								b.orient__title Фокус на клиенте
								p.orient__text Мы ценим Ваше время и очень ответственно подходим к решению Ваших задач. Мы работаем для Вас!
							.orient 
								b.orient__title Качество
								p.orient__text Мы ориентированы на высочайшее качество в каждом  аспекте нашей работы.
							.orient 
								b.orient__title Внимание
								p.orient__text Мы очень внимательны к деталям и мелочам. Мы слышим, понимаем 
							.orient 
								b.orient__title Открытость 
								p.orient__text Мы ценим Ваше доверие к нам.  Мы максимально честны с Вами на всех этапах сотрудничества.
							.orient 
								b.orient__title Проактивность
								p.orient__text Мы всегда на шаг впереди в решении возможных проблем.