section.service
	.container 
		.row
			.col
				include ./../layouts/_breadcrumbs.pug
		.row
			.col
				.logo-titles.service__titles
					img.logo-titles__img(src="img/icon_pic_plane.png", alt="icon_pic_plane")
					h1.logo-titles__text заголовок страницы
		.row
			.col
				.service__box
					img(src="img/service.jpg", alt="service")
					article.info
						h6.info__title Короткая, но важная информация
						.info__text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
						.contacts__network.network 
							a.network__link(href="#")
								i.fa-brands.fa-facebook-f
							a.network__link(href="#")
								i.fa-brands.fa-instagram
							a.network__link(href="#")
								i.fa-brands.fa-youtube