section.solutions 
	.container 
		.row 
			.col 
				p.solutions__overtitle Ваш брокер в бизнес-авиации, 
					br
					| который предлагает
				h6.solutions__title Умные Решения
				#rent-2
					include ./../layouts/_rent.pug