section.steps
	.container 
		.row 
			.col
				h3.steps__title как это работает
				.steps__items 
					.step 
						img.step__img(src="img/icon_working_1.png", alt="icon_working_1")
						p.step__text Вы оставляете заявку любым удобным способом
						button.step__button.button оставить заявку
					.step 
						img.step__img(src="img/icon_working_2.png", alt="icon_working_1")
						p.step__text Наш менеджер связывается с Вами и уточняет все детали и пожелания
					.step 
						img.step__img(src="img/icon_working_3.png", alt="icon_working_1")
						p.step__text Мы подбираем варианты. После вашего утверждения, организуем весь процесс перелета "Под ключ"
					.step 
						img.step__img(src="img/icon_working_4.png", alt="icon_working_1")
						p.step__text Мы контролируем весь процесс перелета. Окутывая вас заботой и вниманием.
