section.telegram-subscription
	.container 
		.row 
			.col 
				.telegram-subscription__box
					h6.telegram-subscription__title подпишись 
						br
						| на наш телеграмм канал
					p.telegram-subscription__text с актуальными предложениями по #[b JET SHARING]
					button.telegram-subscription__button.button--black подписаться
					img.telegram-subscription__img(src="img/subscription_pic.png", alt="subscription_pic")