section.subscription 
	.container 
		.row
			.col
				.subscription__box 
					h6.subscription__title подпишитесь на рассылку 
					p.subscription__tagtitle и получите первым предложения на EMPTY LEGS
					form.subscription__form(action="#") 
						input.subscription__input(type="text" placeholder="Имя *")
						input.subscription__input(type="text" placeholder="E-mail *")
						button.subscription__button.button--black отправить 