<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | О нас
	body
		// ======================================== HEADER
		include ./../sections/_header.pug
		.about-page
			// ======================================== УСЛУГА
			include ./../sections/_service-with-network.pug
			// ======================================== КАК ЭТО РАБОТАЕТ
			include ./../sections/_steps.pug
			// ======================================== НАША КОМАНДА
			include ./../sections/_team.pug
			// ======================================== ПОДПИШИСЬ НА НАШ ТЕЛЕГРАМ
			include ./../sections/_subscriptionTelegram.pug
			// ======================================== УМНЫЕ РЕШЕНИЯ
			include ./../sections/_solutions.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug