<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Блог
	body
		// ======================================== HEADER
		include ./../sections/_header.pug
		.blog-page
			// ======================================== БЛОГ
			include ./../sections/_blog-full.pug
			// ======================================== УМНЫЕ РЕШЕНИЯ
			include ./../sections/_solutions.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug