<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Каталог
	body
		// ======================================== HEADER
		include ./../sections/_header.pug
		.catalog-page
			// ======================================== КАТАЛОГ
			include ./../sections/_catalog.pug
			// ======================================== ПРЕИМУЩЕСТВА
			include ./../sections/_advantages.pug
			// ======================================== ПОЧЕМУ СТОИТ ВЫБРАТЬ КОМПАНИЮ PRO-FLIGHT
			include ./../sections/_cause.pug
			// ======================================== ПОДПИШИТЕСЬ НА РАССЫЛКУ
			include ./../sections/_subscription.pug
			// ======================================== 
			include ./../sections/_advertising.pug
			// ======================================== БЛОГ
			include ./../sections/_blog.pug
			// ======================================== ПОДПИШИСЬ НА НАШ ТЕЛЕГРАМ
			include ./../sections/_subscriptionTelegram.pug
			// ======================================== УМНЫЕ РЕШЕНИЯ
			include ./../sections/_solutions.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug