<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Характеристики 
	body
		// ======================================== HEADER
		include ./../sections/_header.pug
		.characteristics-page
			// ======================================== ХАРАКТЕРИСТИКИ
			include ./../sections/_detail.pug
			// ======================================== ТЕКСТ
			include ./../sections/_service-text.pug
			// ======================================== SECTION
			include ./../sections/_advantages-section.pug
			// ======================================== ПОЧЕМУ СТОИТ ВЫБРАТЬ КОМПАНИЮ PRO-FLIGHT
			include ./../sections/_cause.pug
			// ======================================== ПОДПИШИТЕСЬ НА РАССЫЛКУ
			include ./../sections/_subscription.pug
			// ======================================== УМНЫЕ РЕШЕНИЯ
			include ./../sections/_solutions.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug