<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Услуги
	body
		// ======================================== HEADER
		include ./../sections/_header.pug
		.services-page
			
			// ======================================== УСЛУГИ
			include ./../sections/_services.pug
			// ======================================== ПОДПИШИТЕСЬ НА РАССЫЛКУ
			include ./../sections/_subscription.pug
			// ======================================== 
			include ./../sections/_advertising.pug
			// ======================================== БЛОГ
			include ./../sections/_blog.pug
			// ======================================== ПОДПИШИСЬ НА НАШ ТЕЛЕГРАМ
			include ./../sections/_subscriptionTelegram.pug
			// ======================================== УМНЫЕ РЕШЕНИЯ
			include ./../sections/_solutions.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug


