<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Услуга
	body
		// ======================================== HEADER
		include ./../sections/_header.pug
		.service-page
			// ======================================== УСЛУГА
			include ./../sections/_service.pug
			// ======================================== ПРЕИМУЩЕСТВА
			include ./../sections/_advantages-section.pug
			// ======================================== ПОЧЕМУ СТОИТ ВЫБРАТЬ КОМПАНИЮ PRO-FLIGHT
			include ./../sections/_cause.pug
			// ======================================== ВЫ МОЖЕТЕ АРЕНДОВАТЬ
			include ./../sections/_aircrafts.pug
			// ======================================== ТЕКСТ
			include ./../sections/_service-text.pug
			// ======================================== ПОДПИШИТЕСЬ НА РАССЫЛКУ
			include ./../sections/_subscription.pug
			// ======================================== УМНЫЕ РЕШЕНИЯ
			include ./../sections/_solutions.pug
			// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug