.home__tickets.tickets
	.tickets__title jet sharing
	.tickets__header
		button.tickets__toggle
			img(src="img/icon_chair.png", alt="icon_chair")
			span арендовать кресло
		button.tickets__toggle
			img(src="img/icon_plane_gold.png", alt="icon_plane_gold")
			span арендовать самолет
	.tickets__contents
		.tickets__content 
			.tickets__items 
				.ticket 
					.ticket__time 04 
						br
						b мар
					.ticket__body.route 
						.route__where Москва
							br
							span VKO 
						img.route__icon(src="img/icon_plane_gold.png", alt="icon_plane_gold")
						.route__where Ницца
							br
							span NCE 
					.ticket__price от
						br
						b €5 500
				.ticket 
					.ticket__time 04 
						br
						b мар
					.ticket__body.route 
						.route__where Москва
							br
							span VKO 
						img.route__icon(src="img/icon_plane_gold.png", alt="icon_plane_gold")
						.route__where Ницца
							br
							span NCE 
					.ticket__price от
						br
						b €5 500
				.ticket 
					.ticket__time 04 
						br
						b мар
					.ticket__body.route 
						.route__where Москва
							br
							span VKO 
						img.route__icon(src="img/icon_plane_gold.png", alt="icon_plane_gold")
						.route__where Ницца
							br
							span NCE 
					.ticket__price от
						br
						b €5 500
				.ticket 
					.ticket__time 04 
						br
						b мар
					.ticket__body.route 
						.route__where Москва
							br
							span VKO 
						img.route__icon(src="img/icon_plane_gold.png", alt="icon_plane_gold")
						.route__where Ницца
							br
							span NCE 
					.ticket__price от
						br
						b €5 500
			button.button.tickets__button посмотреть все
		.tickets__content asdf

